<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <section>
        <article>
            <h2 class="titulo">¡Hola {{ first_name }}, te dice TO-DO!</h2>
        </article>
        <article>
          <h3>¡Bienvenido a TO-DO, tienes el poder de llevar el control de tu vida!</h3>
        </article>
    </section>
    <!-- Llevar los estilos -->
    <style>
      .titulo{
        color:red;
      }
    </style>
</body>
</html>